In [9]:
import pandas as pd
import pandas as np

In [16]:
data = pd.read_csv('data.csv')

In [17]:
data

     sky air temp humidity    wind water forcast enjoy spot
0  sunny     warm   normal  strong  warm    same        yes
1  sunny     warm     high  strong  warm    same        yes
2  rainy     cold     high  strong  warm  change         no
3  sunny     warm     high  strong  cool  change        yes

In [19]:
concepts = data.values[:, :-1]

In [21]:
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [22]:
target=np.array(data)[:, :-1]

TypeError: Cannot pass DataFrame to 'pandas.array'

In [ ]:
target

In [ ]:
def train(con, tar):
    for i, val in enumerate(tar):
        if val == "yes":
            specific_h = con[i].copy()
            break

    for i, val in enumerate(con):
        if tar[i] == "yes":
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h